body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

#myCanvas {
  border: solid 1px black;
  height: 100%;
  width: 100%;
}

.inputs {
  display: flex;
  padding: 0px;
  color: azure;
  justify-content: center;
  position: absolute;
  background: rgba(46, 56, 64);
  border-radius: 16px;
}

#ukuranDasar {
  bottom: 5px;
  left: 5px;
}

#gerakBenda {
  bottom: 50px;
  right: 5px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputsContainer p {
  align-self: center;
}

.inputsContainer div {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0px 20px;
}

.inputsContainer div input {
  margin: 0px 10px;
}
