html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 9px solid;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#spinCountDisplay {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
