body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

#myCanvas {
  border: solid 1px black;
  height: 100%;
  width: 100%;
}

.main {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.maintoggle button {
  -webkit-box-shadow: 10px 3px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 3px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 3px 23px 0px rgba(0, 0, 0, 0.75);
  font-size: 30px;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(46, 56, 64);
  color: azure;
}

.inputs {
  display: none;
  padding: 0px;
  color: azure;
  justify-content: center;
  border-radius: 16px;
  width: 400px;
  height: 250px;
}

.inputs.active {
  display: flex;
}

.toggleContainer button {
  color: azure;
  background: transparent;
  border-radius: 10px;
  border-color: azure;
  padding: 5px;
}

.inputMenus {
  background: rgba(46, 56, 64);
  border-radius: 20px;
  padding: 10px;
  width: 380px;
  height: 220px;
  position: fixed;
  top: 0;
  right: -380px; 
  transition: right 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.inputMenus.visible {
  right: 100px; 
  opacity: 1;
  width: 380px;
  height: 220px;
}

.inputMenus.hidden {
  right: -380px; 
  opacity: 0;
}
#ukuranDasar {
  position: relative;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.kontainer {
  display: flex;
}

#gerakBenda {
  position: relative;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputsContainer p {
  align-self: center;
}

.inputsContainer div {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0px 20px;
}

.buttonAction {
  align-self: center;
}

.buttonAction button {
  margin: 0px 10px 10px 10px;
}

.inputsContainer div input {
  margin: 0px 10px;
}
